node_modules/

__pycache__/

/tmp/
/html/

/data/
atcoder.knprop
*.exe

submissions/awc0100/*
!submissions/awc0100/awc0100_a.*
!submissions/awc0100/awc0100_b.*
!submissions/awc0100/awc0100_c.*
!submissions/awc0100/awc0100_d.*
!submissions/awc0100/awc0100_e.*
!submissions/awc0100/awc0100_f.*
